services:
  web:
    build: .
    image: clinica_medica_web:latest
    volumes:
      - .:/app
    working_dir: /app
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8080:8000"
    restart: unless-stopped
    environment:
      - PYTHONUNBUFFERED=1
